.main {
  color: white;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.robi {
  margin: 1rem;
  padding: 1rem;
  text-align: start;
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

.robi-pet {
  width: 12rem;
  display: flex;
}

.user-input {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.robi-text {
  width: 100%;
  margin: 0.6rem;
  padding: 0.2rem;
  font-size: 2rem;
  font-weight: 700;
}

.user-input input {
  margin: 1rem;
  padding: 1rem;
  border-radius: 50px;
  border-width: 0;

  /* border-color: rgb(220, 103, 207); */

  width: 40%;
  background: linear-gradient(
    90deg,
    rgb(220, 103, 207) 0%,
    rgb(123, 39, 152) 60%,
    rgb(76, 33, 179) 100%
  );
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-overflow: ellipsis;
}

.user-input input:focus {
  outline-color: transparent;
  outline-style: none;
}

.user-input input::placeholder {
  color: white;
  opacity: 0.3;
}

.search-book {
  margin: 1rem;
  padding: 0.7rem;
  background: rgb(220, 103, 207);
  border-radius: 20px;
  border-width: 0px;

  font-size: 1.7rem;
  font-weight: 700;
  color: white;
}

.search-book:hover {
  background: rgb(187, 87, 176);
}

.search-book:focus {
  outline-color: transparent;
  outline-style: none;
  background: rgb(123, 39, 152);
}

.search-book:disabled,
.user-input input:disabled {
  background: rgb(127, 121, 130);
}

.flex-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.book-card {
  border-radius: 18px;
  background: rgb(187, 87, 176);
  max-height: 25%;
  min-height: 25%;
  margin: 1rem;
  padding: 1rem;

  width: 20rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-overflow: ellipsis;
}

.book-card img {
  width: 12rem;
  display: flex;
}

.reset {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: transparent;
  border-width: 0px;
}

.reset:focus {
  outline-style: none;
}

@media only screen and (max-width: 600px) {
  .user-input input {
    width: 80%;
    margin: 1rem;
    padding: 0.7rem;
    font-size: 1.5rem;
  /* font-weight: 500; */
  }
}
